<form action="/login">
    User : <input type="text" name="username" value="<%= username %>" ><br>
    Password <input type="text" name="password" ><br>
    <input type="submit">
</form>
<a href="/register_form">Create account</a>