<form action="/register_save" method="POST">
    User : <input type="text" name="username" value="" ><br>
    Password <input type="text" name="password" ><br>
    <input type="submit" value="Create account">
</form>